* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f4f4f4;
}

.item_fixed {
    list-style: none;
    position: fixed;
    bottom: 100px;
    right: 10px;
    z-index: 9999;
}

.item-fixed a {
    width: 10px; 
    height: 10px; 
}

.t_main {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .t_main {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin: 0 auto; 
    padding: 20px;
}

.t_left {
    max-width: 150px; 
    width: 100%; 
    height: auto; 
}

.t_right nav ul {
    display: flex; 
    list-style-type: none; 
    justify-content: space-around; 
    width: 100%; 
}

.t_right nav ul li {
    margin-left: 20px; 
}

.t_right nav ul li a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none; 
    color: #333; 
    font-size: 16px;
    font-weight: 600; 
    padding: 10px; 
    transition: color 0.3s ease; 
}

.t_right nav ul li a:hover {
    color: #007bff; 
}

section {
    width: 100%;
    padding: 0;
    margin: 0;
}

.slide {
    position: relative; 
    width: 100%; 
}


.slide_img {
    width: 100%; 
    height: auto; 
    display: block; 
}


.text-overlay {
    position: absolute; 
    top: 15%; 
    left: 60px; 
    color: #222121; 
    font-size: 50px; 
    font-weight: bold; 
    font-family: 'Lucida Sans', sans-serif; 
    line-height: 1.2; 
    padding: 0;
    text-shadow: 4px 4px 8px rgba(255, 255, 255, 0.6)
}

.text-overlay h2 {
    white-space: nowrap; 
    display: block; 
}

.text-overlay p {
    font-size: 16px; 
    font-family: 'Lucida Sans', sans-serif; 
    margin-top: 10px;
}

#services {
    width: 100%;
    padding: 30px 20px 5px 20px; 
    background-color: #f4f4f4;
    padding-left: 20px; 
}

.l_services {
    font-family: 'Lucida Sans', sans-serif;
    font-weight: bold;
    font-size: 25px; 
    color: #333; 
    margin-left: 30px; 
    text-align: left;
    line-height: 1.4; 
    
}

#features {
    display: flex;
    justify-content: space-around; 
    padding: 5px 20px 30px 20px;
    background-color: #f4f4f4;
    padding-left: 20px 
}

.feature-box {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 250px;
    height: 250px;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-box p{
    font-size: 16px;
}

.e_text {
    font-size: 18px; 
    color: #333; 
    line-height: 1.6; 
    margin-top: 10px;
    text-align: center; 
}

.e_text h3 {
    font-size: 20px; 
    margin-bottom: 10px; 
    font-weight: bold;
}

.e_text p {
    font-size: 14px; 
    margin: 0;
    text-align: center; 
}

.feature-box:hover {
    transform: translateY(-10px); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.icon img {
    width: 50px; 
    height: 50px;
}


.text {
    margin-top: 10px; 
    font-size: 14px;
    color: #333;
}

.feature-box p {
    margin: 0;
}

footer { 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #00617f; 
    color: #ecf0f1; 
    padding: 40px 0; 
    margin: 20px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    margin-bottom: 20px;
}

.footer-section {
    flex: 1; 
    padding: 0 20px;
    min-width: 220px; 
}

.footer-section.about-us {
    flex: 0 0 30%;
}

.footer-section:not(.about-us) {
    flex: 1; 
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #ecf0f1;
}

.footer-section p, .footer-section ul {
    font-size: 14px;
    line-height: 1.6;
}

.footer-section a {
    text-decoration: none;
    color: #ecf0f1;
    display: flex; 
    align-items: center; 
}

.footer-section a:hover {
    color: #333; 
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-bottom {
    display: flex; 
    justify-content: flex-start; 
    padding: 20px 0px 0px 20px;
    border-top: 1px solid #ecf0f1;
}

.footer-bottom p {
    font-size: 14px;
    margin: 0;
    color: #ecf0f1;
}

.footer-section img.social-icon {
    width: 16px; 
    height: 16px; 
    margin-right: 8px; 
    vertical-align: middle;
}